<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Port_Help" value="Integer representing the HTTP (Hypertext Transport Protocal) Port to bind to. Port numbers are assigned in various ways, based on three ranges: System Ports (0-1023), User Ports (1024-49151), and the Dynamic and/or Private Ports (49152-65535); the difference uses of these ranges is described in [RFC6335]. The default is 80."/>
    <add key="Port" value="80"/>
    <add key="PortEnabled" value="True"/>
    <add key="SecurePort_Help" value="Integer representing the HTTPS (Hypertext Transport Protocal) Port to bind to. Port numbers are assigned in various ways, based on three ranges: System Ports (0-1023), User Ports (1024-49151), and the Dynamic and/or Private Ports (49152-65535); the difference uses of these ranges is described in [RFC6335]. The default is 443."/>
    <add key="SecurePort" value="443"/>
    <add key="SecurePortEnabled" value="False"/>
    <add key="SecondsBetweenRefresh_Help" value="Number of seconds a returned HTML page for a Image request waits before checking the server for an update."/>
    <add key="SecondsBetweenRefresh" value="15"/>
    <add key="PlatformXMLPath" value="D:\Emulators\LaunchBox\Data\Platforms"/>
    <add key="CacheDisabled" value="False"/>
    <add key="WriteEnabled_Help" value="If checked/true, API calls will be allowed to update game information permanently."/>
    <add key="WriteEnabled" value="False"/>
    <add key="GetAllGamesLimit" value="50" />
    <add key="Access-Control-Allow-Origin" value="*" />
    
    <add key="NotFirstTimeRun" value="True"/>
    <add key="AutomaticUpdates_Help" value="If set to On/True, when LaunchBox/BigBox starts up the plugin will check for updates to itself and if one is found it will be downloaded and activated on the next startup. No notifications/errors will be shown when this is set to On/True."/>
    <add key="AutomaticUpdates" value="False"/>
    <add key="Version" value=""/>
    <add key="VersionUrl" value="https://github.com/fpdavis/MarquesasServer/releases"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>



    <add key="SuperSocketPort_Help" value="Integer representing the Socket Port to bind to. Port numbers are assigned in various ways, based on three ranges: System Ports (0-1023), User Ports (1024-49151), and the Dynamic and/or Private Ports (49152-65535); the difference uses of these ranges is described in [RFC6335]. The default is 27012."/>
    <add key="SuperSocketPort" value="27012"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.SocketBase" publicKeyToken="6c80000676988ebb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.1" newVersion="1.6.6.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperSocket.Common" publicKeyToken="6c80000676988ebb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.1" newVersion="1.6.6.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
