<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <!-- Comma seperated IP Addresses, leave empty to bind to all available IP Addresses -->
    <add key="IPAddress" value=""/>
    <add key="Port" value="8080"/>
    <add key="PlatformXMLPath" value="C:\OneDrive\Applications\LaunchBox\Data\Platforms"/>
  </appSettings>
</configuration>
